@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #c69c6c;
  --second-color: white;
  --black-color: #08243a;
}

.backdash {
  text-align: left;
}


.header {
  background-color: #08243a;
  background-color: var(--black-color);
  background-color: black;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-family: sans-serif, cursive;
  height: 10vh;
}

.header button {
  border: none;
}

nav {
  width: 95%;
  margin: auto;
  margin-top: 0;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  padding: 5px;
}

.logo {
  color: var(--second-color);
  font-size: 1.8rem;
  text-decoration: none;
  padding-left: 1.2rem;
  padding-top: 0.40rem;
}

.coder{
  color: rgba(61, 116, 69, 0.952);
  font-weight: 600;
}


.auth {
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 4px;
}

.login {
  background-color: var(--main-color);
  background-color: black;
  width: 40%;
  margin: auto;
  margin-top: 5rem;
  padding: 18px 8px;
  border-radius: 12px;
  text-align: center;
}
.login h1 {
  font-size: 3rem;
  color: var(--main-color);
  font-weight: 700;
}

.login span {
  color: white;
}

.inputContainer input {
  display: block;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  border-radius: 12px;
}

button {
  background-color: white;
  width: 80%;
  color: black;
  margin-top: 1.3rem;
  padding: 10px;
  border-radius: 12px;

  gap: 1rem;
  font-size: 1.2rem;
}

.icon {
  font-size: 1.8rem;
}

.img {
  width: 80%;
  margin-top: 1.5rem;
  border-radius: 15px;
}

.profileVisible {
  border-radius: 15px;
  margin-top: 0.3rem;
}

.link {
  text-decoration: none;
}

.dashText {
  width: 90%;
  margin: auto;
  font-size: 2.5rem;
  font-weight: 700;
}

.menuDownText {
  margin-bottom: 1rem;
}

.signout {
  width: 19%;
  margin: auto;
  text-align: center;
  align-self: auto;
  align-items: center;
}

.signoutDisplay {
  position: absolute;
  top: 11%;
  right: 0.8%;
  width: 10%;
  background-color: black;
  border-radius: 6px;
  text-align: left;
}

.signoutDisplay button {
  margin-bottom: 1rem;
}

.signoutDisplay button {
  display: flex;
  background: none;
  color: white;
  margin-top: 0;
}

.menu {
  display: none;
}

.profilePerson {
  margin-top: 0;
}

.displayBlock {
  display: block;
}

@media (max-width: 900px) {
  .LinkProfile {
    display: none;
  }
  .login {
    width: 80%;
  }
  .MenuOpen {
    display: block;
    color: white;
    font-size: 1.8rem;
    margin: 1rem 0.4rem;
  }
  .menu {
    display: block;
    color: white;
    font-size: 1.8rem;
    margin: 1rem 0.4rem;
  }
  .signoutDisplay {
    position: absolute;
    top: 11%;
    right: 0.8%;
    width: 25%;
    background-color: black;
    border-radius: 6px;
  }
  .img {
    width: 40%;
  }
  .logo {
    margin: 0.30rem 0.4rem;
  }
}

/* classes */

.Classes {
  width: 100%;
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.class {
  width: 90%;
  margin: auto;
  border: 1px solid var(--border-color);
  padding: 1rem;
  background-color: #08243a;
  background-color: black;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.6);
  margin-bottom: 1rem;
}
.class h1,
p {
  margin-bottom: 0.4rem;
  color: #c69c6c;
}

.class h2 {
  color: white;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  font-weight: 800;
  justify-content: center;
}

.class h1 {
  font-weight: bolder;
  color: var(--main-color);
  font-size: 2rem;
}

.studentRow {
  display: flex;
}

.studentHaye {
  width: 80%;
  margin: auto;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.text-center {
  text-align: left;
  font-size: 1.8rem;
}

.studentRow {
  display: flex;
  justify-content: space-between;
}

.columnHaye {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
  justify-content: center;
  justify-self: center;
  align-items: start;
  margin-bottom: 2rem;
}

.rowHaye th {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 10rem;
}

.columnHaye h1 {
  font-weight: 800;
}

@media (max-width: 900px) {
  .studentHaye {
    width: 90%;
  }
  .classes {
    width: 100%;
  }
}

.dash {
  width: 18%;
  height: 100vh;
  align-items: center;
  text-align: center;
  background-color: white;
  box-shadow: 10px 10px 20px 30px rgba(0, 0, 0, 0.2);
  margin-right: 1.2rem;
}

.btnsDash {
  position: relative;
  display: grid;
  justify-content: space-between;
  place-items: center;
  place-self: center;
  grid-template-rows: repeat(7, 1fr);
  margin: 1rem 1rem;
}

.btnsDash p {
  color: black;
  font-weight: 600;
  flex-wrap: wrap;
}

.link{
  margin-bottom: 0.30rem;
}

.d{
  font-size: 2.5rem;
  color: rgba(61, 116, 69, 0.952);
  text-align: center;
  margin-left: 1.5rem;
}

.classesicon{
  margin-left: 0.50rem;
}

.dashIcons {
  text-align: center;
  font-size: 2rem;
  margin-left: 3rem;
  color: var(--main-color);
  color: rgba(61, 116, 69, 0.952);
}

.att {
  margin-left: 3.9rem;
}

/* so muuqashada spanyada */

.Container{
  position: relative;
  cursor: pointer;
}


.showclasses{
  position: absolute;
  top: 10%; 
  left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  place-self: center;
  padding: 0;
}

.attendanceText {
  transition: margin 0.3s;
}

.showclasses + .attendanceText {
  margin-top: 10px;
}

.shift-down {
  margin-top: 20px; 
}

.clicked .attendanceContainer {
  margin-top: 10px;
}


/* end spans shows */

.showclasses span{
  color: rgba(61, 116, 69, 0.952);
}


@media (max-width: 900px) {
  .btnsDash {
    display: grid;
    justify-content: space-between;
    place-items: center;
    place-self: center;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem 0;
  }
 
  .dash {
    width: 80%;
    height: 30vh;
    align-items: center;
    text-align: center;
    background-color: white;
    box-shadow: 10px 10px 20px 20px rgba(0, 0, 0, 0.2);
    margin-right: 1.2rem;
    margin-top: 1.2rem;
  }
}

.listStudents {
  position: relative;
  width: 90%;
  text-align: center;
  background-color: rgba(61, 116, 69, 0.952);
  margin: auto;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 12px;
}

.one {
  font-size: 3rem;
}

.infoClass {
  margin-top: 1.8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
}

.infoClass h1 {
  font-weight: bolder;
}

.infoClass span {
  font-weight: 400;
}

.total {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  text-align: left;
  font-weight: 800;
}

.total span {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-color);
  padding: 8px;
  border-radius: 10px;
  color: white;
}

.tableTop {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: start;
  gap: 5rem;
  flex-direction: row;
  font-weight: bolder;
  margin-top: 1.4rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.tableNames {
  width: 95%;
  margin: auto;
  gap: 2rem;
}

.radiotablenameHaye {
  display: flex;
  justify-content: space-between;
}

.radiotablenameHaye p {
  display: inline;
}

.tablename p {
  color: white;
}

.divRadio {
  padding: 0;
  margin: 0;
}

.tableHaye h2 {
  margin-right: 0;
}

.studentNames {
  margin-left: 4rem;
}

.tableNames {
  font-size: 1.4rem;
}

.radio {
  padding: 4rem;
  border-radius: 12px;
  font-size: 10rem;
}

/* Loader */

.center {
  display: flex;
  justify-content: center;
  place-content: center;
  margin-top: 10rem;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-top: 4px solid var(--main-color);
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #ff3d00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* TimeTable */

.TimeTable {
  width: 80%;
  text-align: center;
  background-color: rgb(236, 231, 231);
  margin: auto;
  margin-top: 1.5rem;
  border-radius: 1rem;
}

.TimeTable h1 {
  font-weight: bold;
}

.infoTable {
  margin-top: 1.8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.infoTable h1 {
  font-weight: bolder;
}

.infoTable span {
  font-weight: 400;
}

.TimetableTop {
  width: 84%;
  margin: auto;
  display: flex;
  justify-content: start;
  gap: 5rem;
  flex-direction: row;
  font-weight: bolder;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  background-color: var(--main-color);
  padding: 6px 2px;
  border-radius: 8px;
  color: white;
}

.bodyTable {
  width: 84%;
  margin: auto;
  margin-top: 1rem;
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(auto-fit, minmax(35px, 1fr));
  gap: 15rem;
  white-space: nowrap;
}

.infoTimeTable {
  margin-top: 1.8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 2rem;
}

@media (max-width: 900px) {
  .TimeTable {
    width: 95%;
  }
  .bodyTable {
    gap: 6rem;
  }
  .TimetableTop {
    width: 90%;
  }
}

/* Attendence week */

.attendenceweek {
  width: 80%;
  margin: auto;
  text-align: center;
}

.attendenceweek h1 {
  font-size: 1.8rem;
  font-weight: bold;
}

.attendenceHaye {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1.5rem;
  border: 1px solid gainsboro;
  border-radius: 10px;
}

.attendenceHaye h2 {
  font-size: 1.4rem;
}

.attendenceInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1rem;
  gap: 2rem;
}

.infos select,
input {
  padding: 0.5rem 1rem;
  border: 1px solid gainsboro;
}

.generate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 15%;
  margin-top: 1.4rem;
  background-color: var(--main-color);
  color: white;
}

.weekHaye {
  text-align: center;
}

.weekHaye h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

.weekInfo {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  background-color: var(--main-color);
  padding: 8px 12px;
  border-radius: 0.5rem;
  color: white;
}

.weekList {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: start;
  gap: 15rem;
}

.weekList p {
  font-weight: bold;
}

.weekListNames {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: start;
  gap: 8rem;
  margin-top: 1rem;
}

@media (max-width: 900px) {
  .generate {
    width: 22%;
  }
}

/* attendence rate */

.ratingHaye {
  text-align: center;
}

.ratingHaye h1 {
  margin-top: 1.4rem;
  font-size: 1.8rem;
  font-weight: 800;
}

.rateInfo {
  width: 98%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-self: initial;
  justify-self: start;
  margin-top: 1rem;
  border: 1px solid var(--border-color);
  padding: 12px 4px;
  border-radius: 0.4rem;
}

.rateInfo p {
  font-weight: bold;
}

.rateList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-self: initial;
  justify-self: start;
}

.submitStudents {
  width: 20%;
  background-color: var(--main-color);
  color: white;
}

/* modal */

.modal {
  position: absolute;
  top: 50%;
  left: 22%;
  background-color: var(--black-color);
  color: white;
  padding: 0.1rem;
  width: 35rem;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

@media (max-width: 900px) {
  .modal {
    position: absolute;
    width: 31rem;
    top: 50%;
    left: 0%;
  }
}

.dashDIsplay {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dashClass {
  width: 100%;
  margin-top: 2rem;
  margin-right: 0.5rem;
}

.currentDate {
  background-color: #08243a;
  background-color: black;
  border-radius: 8px;
  color: white;
}



.userDisplay {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: black;
  padding: 0.4rem 0.9rem;
  border-radius: 8px;
  margin-right: 1rem;

}

.userInfo{
  cursor: pointer;
  z-index: 999;
  background-color: white;
  padding: 1rem 0.30rem;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 100%;
  right: 5%;
}

.date {
  display: flex;
}

.userImage {
  cursor: pointer;
  width: 50%;
  height: 8vh;
  display: block;
  margin-right: 0.4rem;
}

.userDisplay h1 {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
}
.userDisplay h2,
span {
  margin-top: 0;
}

.username{
  color: rgba(61, 116, 69, 0.952);
}

.signoutUser button {
  background-color: black;
  color: white;
  width: 40%;
  margin-top: 0;
}



@media (max-width: 900px) {
  .dashDIsplay {
    width: 100%;
    flex-wrap: wrap;
  }
  .userDisplay{
    margin-left: 0;
  }
 
  .dashClass {
    width: 100%;
  }
}
